<div>
    <table class="table">
        <tr>  
            <th>#</th>  
            <td>Name</td>  
            <th>Address Line 1</th>  
            <th>Address Line 2</th>  
            <th>City</th>  
            <th>PIN</th>  
            <th>Description</th>  
            <th>Latitude</th> 
            <th>Longitude</th>  
            <th>          </th>  
        </tr>
        <tr data-ng-repeat="center in centerList">
            <td>{{$index+1 }}</td>
            <td>{{center.centerName}}</td>
            <td>{{center.addressLine1}}</td>
            <td>{{center.addressLine2}}</td>
            <td>{{center.city}}</td>
            <td>{{center.pin}}</td>
            <td>{{center.description}}</td>
            <td>{{center.latitude}}</td>
            <td>{{center.longitude}}</td>
            <td><p><a data-ng-click="edit(center)" href="javascript:;">Edit</a> | <a data-ng-click="delete(center)" href="javascript:;">Delete</a></p></td>
        </tr>
    </table>
</div>
    <div>
        <form role="form">
            <input type="hidden" data-ng-model="id" />
            <div class="row">
                <div class="form-group col-xs-5 col-lg-4">
                    <label for="centerName">Center Name</label>
                    <input type="text" data-ng-model="center.centerName" ng-minlength="1" ng-maxlength="50"  ng-required="true" class="form-control" id="centerName" placeholder="Enter Center Name">
                </div>
            </div>
            
            <div class="row">
                <div class="form-group col-xs-5 col-lg-4">
                <label for="addressLine1">Address Line 1</label>
                <input type="text" data-ng-model="center.addressLine1" ng-minlength="1" ng-maxlength="50" ng-required="true" class="form-control" id="addressLine1" placeholder="Enter Center Address 1">            
                </div>
            </div>
            
            <div class="row">
                <div class="form-group col-xs-5 col-lg-4">
                <label for="addressLine2">Address Line 2</label>
                <input type="text" data-ng-model="center.addressLine2" ng-minlength="1" ng-maxlength="50" ng-required="true" class="form-control" id="addressLine2" placeholder="Enter Center Address 2">
                </div>
            </div>
            
            <div class="row">
                <div class="form-group col-xs-5 col-lg-4">
                <label for="city">City</label>
                <input type="text" data-ng-model="center.city" ng-minlength="1" ng-maxlength="50" ng-required="true" class="form-control" id="city" placeholder="Enter City Name">            
                </div>
            </div>
            
            <div class="row">
                <div class="form-group col-xs-5 col-lg-4">
                <label for="pin">Zip code</label>
                <input type="text" data-ng-model="center.pin" ng-minlength="1" ng-maxlength="8" ng-required="true" class="form-control" id="pin" placeholder="Enter Center ZIP CODE">            
                </div>
            </div>
            
            <div class="row">
                <div class="form-group col-xs-5 col-lg-4">
                <label for="description">Description</label>
                <input type="text" data-ng-model="center.description" ng-minlength="1" ng-maxlength="50" ng-required="false" class="form-control" id="description" placeholder="Enter Center Description">
            
                </div>
            </div>            

            <div class="row">
                <div class="form-group col-xs-5 col-lg-4">
                <label for="latitude">Latitude</label>
                <input type="number" data-ng-model="center.latitude" ng-minlength="1" ng-maxlength="20" ng-required="true" class="form-control" id="latitude" placeholder="Enter Center Latitude from Google Map">
            
                </div>
            </div>
            
            <div class="row">
                <div class="form-group col-xs-5 col-lg-4">
                <label for="longitude">Longitude</label>
                <input type="number" data-ng-model="center.longitude" ng-minlength="1" ng-maxlength="20" ng-required="true" class="form-control" id="longitude" placeholder="Enter Center Longitude from Google Map">
            
                </div>
            </div>
            
             <button data-ng-click="create()" class="btn btn-default">Submit</button>
             <input type="reset" value="Cancel" class="btn btn-default" />

        </form>
    </div>
